<!DOCTYPE html>
<html>
<head>
	<title>Rented Apartments</title>
</head>
<body>
	<div>
			<h2>Rented Apartments</h2> 		
	</div>

	<a href="/home">Home</a>|
	<a href="/logout">Logout</a><br><br>
	<a href="/manager/profile">Edit Profile</a><br>
	<a href="/manager/pendingCustomers">Pending Customer</a><br>
	<a href="/manager/pendingHouseowners">Pending Houseowners </a><br>
	<a href="/manager/view_Available">House to-let</a><br>
	<a href="/manager/view_Customers">Available customer</a><br>
	<a href="/manager/view_Owners">House Owners</a><br>
	<a href="/manager/view_Rented">Rented Apartments</a><br>
	<table border="1">
		<tr>
			<td>ID</td>
			<td>Area</td>
			<td>Area Code</td>
			<td>Owner ID</td>
			<td>Customer ID</td>
		</tr>
		
		<tr>
			<td>1</td>
			<td>Bashundhara R/A</td>
			<td>1200</td>
			<td>2</td>
			<td>1</td>
		</tr>
		
		<tr>
			<td>2</td>
			<td>Nikunjo</td>
			<td>1201</td>
			<td>3</td>
			<td>1</td>
		</tr>
		
		
		
		
	</table>

</body>
</html>