<!DOCTYPE html>
<html>
<head>
	<title>Add New Manager</title>
</head>
<body>
	<h2>Add New Manager</h2>
	
	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br><br>

	<form method="post">
		usertype:<select name="usertype">
			<option value="Admin">Admin</option>
			<option value="Manager">Employee</option>
			</select><br>
		Username: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" name="" value="Submit">
	</form>
</body>
</html>