<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<div>
			<h2>Welcome admin</h2> 		
	</div>
    
	<a href="/logout">Logout</a><br><br>
	<a href="/admin/addNewManager">Add New Employee</a><br>
	<a href="/admin/viewManager">view Employee</a><br>
</body>
</html>