<!DOCTYPE html>
<html>
<head>
	<title>sign up page</title>
</head>
<body>
	<h2>signin  Page</h2>
    <a href="/">Home</a>
	<form method="post">
		<table border="1">
			<tr><td>Employee name </td> <td><input type="text" name="ename" required ></td></tr>
			<tr><td>Contact No: </td> <td> <input type="text" name="cno" required></td></tr>
			<tr><td>Username: </td> <td>  <input type="text" name="uname" required></td></tr>
			<tr><td>Password:</td> <td>  <input type="password" name="password" required></td></tr>
		</table>
		<input type="submit" name="" value="Submit">
	</form>
	<a href="/login">Already have account? clcik to Login</a>
</body>
</html>