<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
	<h2>Login Page</h2>
    <a href="/">Home</a>
	<form method="post">
		usertype:<select name="usertype">
			<option value="Admin">Admin</option>
			<option value="Manager">Employee</option>
			</select><br>
		Username: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" name="" value="Submit">
	</form>
	<a href="/signup">Dont have account? clcik to create account</a>
</body>
</html>