<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h2>Welcome to Home rental management system </h2>
    <a href="/login">login</a> <br>
    <a href="/signup">sign up</a>
</body>
</html>